

.CircleCatalog {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .image {
        width: 100px;
        height: 100px;
        border: 1px solid #000;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

@media screen and (width<=450px) {
    .CircleCatalog{

        .image{
            width:70px;
            height: 70px;
            img{
                width: 80%;
            }
        }
        p{
            font-size: 11px;
        }
    }
}