

.CircleCatalog {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .image {
        width: 100px;
        height: 100px;
        border: 1px solid #000;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    p{
        text-align: center;
        width: 120px;
        white-space: nowrap; /* Предотвращает перенос текста на новую строку */
        overflow: hidden; /* Обрезает текст, который не помещается в контейнер */
        text-overflow: ellipsis
    }
}

@media screen and (width<=450px) {
    .CircleCatalog{

        .image{
            width:70px;
            height: 70px;
            img{
                width: 80%;
            }
        }
        p{
            width: 70px;
            font-size: 11px;
        }
    }
}