@import "../../styles/color.module.scss";

.basket-price{
    box-shadow: 0px 4px 19px 0px rgba(0, 0, 0, 0.07);
    flex-basis: 18%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    .basket-price-item{
        font-weight: 500;
        margin: 10px 0;
        font-size: 14px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        p{
            color: $dark-gray;
        }
        .button{
            align-self: center;
        }   
    }
}