@import "../../../styles/color.module.scss";


.header-info {
    p {
        color: $dark-gray;
    }

    margin-top: 1%;
    padding: 0 5%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .header-info-navbar{
        display: none;
    }
    span {
        display: flex;
        align-items: center;
    }

    .no-action {
        flex-basis: 50%;
        gap: 20px;
    }

    .action {
        span {
            cursor: pointer;
        }

        gap: 40px;
    }

    .row {
        display: flex;
        align-items: center;
    }

}

@media screen and (width<550px) {
    .more-info{
        position: absolute;
        left: 0;
        width: 85%;
        height: 100vh;
        z-index: 999;
        background-color:$white;
        padding: 3%;
        display: flex;
        flex-direction: column;
        .more-info-head{
            display: flex;
            align-items: center;
            justify-content: space-between;
            p{
                font-size: 22px;
                font-weight: 600;
            }
            button{
                cursor: pointer;
                border-radius: 5px;
                width: 30px;
                height: 30px;
                background-color: $red;
            }
        }
        .more-info-content{
            .more-info-items{
                margin-top: 10%;
                ul{
                    list-style: none;
                    li{
                        margin: 10% 0 ;
                        text-transform: uppercase;
                        font-size: 16px;
                        font-weight: 500;
                        border-bottom: 1px solid $gray;
                    }
                }
            }
            .more-info-assets{
                 display: flex;
                 align-items: center;
                 justify-content: space-between;
                 a{
                    font-size: 16px;
                    font-weight: 500;
                 }
                 button{
                    a{
                        color: $white;
                    }
                    background-color: $red;
                    color: $white;
                    font-size: 16px;
                    padding: 10px 20px;
                    border-radius: 6px;
                 }
            }
            
        }
        p:last-child{
            margin-top: 5%;
            align-self: center;
        }
    }
    .header-info {
        padding:  2%;
        border-bottom: 1px solid $gray;
        justify-content: space-between;
        p,
        a {
            font-size: 12px;
        }

        .no-action {
            display: none;
        }
        .header-info-navbar{
            cursor: pointer;
            display: block;
        }
        .action {
            .number{
                display: none;
            }
        }
    }
}