@import "../../../styles/color.module.scss";


.header-info {
    p {
        color: $dark-gray;
    }

    margin-top: 1%;
    padding: 0 5%;
    display: flex;
    align-items: center;
    justify-content: space-between;

    span {
        display: flex;
        align-items: center;
    }

    .no-action {
        flex-basis: 50%;
        gap: 20px;
    }

    .action {
        span {
            cursor: pointer;
        }

        gap: 40px;
    }

    .row {
        display: flex;
        align-items: center;
    }

}

@media screen and (width<550px) {
    .header-info {
        justify-content: end;
        padding: 0 2%;

        p,
        a {
            font-size: 12px;
        }

        .no-action {
            display: none;
        }

        .action {}
    }
}