@import "../../styles/color.module.scss";


.page-head-info {
    padding: 2% 5%;

    h1 {
        font-size: 32px;
        color: $dark-blue;
    }

    span {
        margin-top: 1%;
        display: flex;
        align-items: center;
        gap: 10px;

        p {
            font-size: 18px;
            font-weight: 500;
            color: $dark-gray;
        }
    }
}

@media screen and (width<=450px){
    .page-head-info{
        padding: 1%;
        h1{
            font-size:20px;
        }
        span{
            p{
                font-size: 16px;
            }
        }
    }
}