@import "./color.module";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap');


* {
    padding: 0;
    margin: 0;
    font-family: "Montserrat";
}

a {
    color: $dark-blue;
    text-decoration: none;
}

p {
    color: $dark-blue;
}

body {
    position: relative;
    background-color: $white;
}

button {
    border: none;
}

.modal-effect::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 99;
}

.blur {
    filter: blur(10px);
}

.none{
    display: none;
}