@import "../../styles/color.module.scss";

.mobile-header {
    display: none;
}

.desktop-header {
    .main-header {

        padding: 0 5%;
        border-bottom: 1px solid $gray;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .assets {
            display: flex;
            align-items: center;

            img {
                cursor: pointer;
            }

            img:first-child {
                padding-right: 15px;
                margin-right: 15px;
                // border-right: 2px solid $gray;
            }
        }
    }
}

@media screen and (width<=450px) {
    .desktop-header {
        display: none;
    }

    .mobile-header {
        padding: 0 2%;

        display: flex;
        flex-direction: column;
        .main-header {

            display: flex;
            align-items: center;
            justify-content: space-between;
            .assets{
                display: flex;
                align-items: center;
                gap: 20px;
                img{
                    cursor: pointer;
                }
            }
        }
        .mobile-catalog-header{

            button{
                cursor: pointer;
                display: flex;
                align-items: center;
                background-color: $red;
                padding: 10px 5px;
                border-radius: 5px;
                gap: 7px;
            }
            margin-top: -5%;
            margin-bottom: 5%;
            display: flex;
            align-items: center;
            justify-content: space-between;
            .SearchInput{
                flex-basis: 60%;
            }
        }
    }
}