@import "../../styles/color.module.scss";

header {
    .main-header{

        padding: 0 5%;
        border-bottom: 1px solid $gray;
        display: flex;
        align-items: center;
        justify-content: space-between;
        
        .assets {
        display: flex;
        align-items: center;
        img {
            cursor: pointer;
        }

        img:first-child {
            padding-right: 15px;
            margin-right: 15px;
            // border-right: 2px solid $gray;
        }
    }
}
}