@import "../../styles/color.module.scss";


.product-page-main {
    padding: 0 5%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    .images {
        display: flex;
        align-items: center;
        flex-basis:33%;
        .blocks {
            display: flex;
            flex-direction: column;
            gap: 10px;
        }
    }
}


@media screen and (width<=450px) {
    .product-page-main {
        padding: 0 2%;
        flex-direction: column;
        justify-content: center;
        .images {
            
            align-items: center;
            flex-direction: column-reverse;
            justify-content: center;

            .blocks {
                justify-content: center;
                align-items: center;
                flex-direction: row;
            }
        }

        .product-info {
            display: none;
        }
    }
}