@import "../../../styles/color.module.scss";

.product-image-block {

    border-radius: 10px;
    padding: 5px;
    width: max-content;
    border: 1px solid $dark-gray;
}

.main-image-block{
    width: 100%;
    .embla {

        overflow: hidden;
        position: relative;
    }

    .emblaContainer {
        display: flex;

    }

    .emblaSlide {
        flex: 0 0 100%;
        min-width: 0;
        display: flex;
        align-items: center;
        justify-content: center;

    }

    .assets {
        width: 96%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: absolute;
        bottom: 45%;
        left: 0;
        padding: 0 2%;
        button {
            background-color: $white;
            cursor: pointer;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 32px;
            border: none;
            width: 40px;
            height: 40px;
            border-radius: 50px;
            outline: none;
        }
    }
}

.image{

}
.main-image {
    width: 100%;   
    height: auto;
}

.modal-wrapper {
    width: 100%;
    height: 100vh;
}

.modal {
    
    height: 100%;
    width: 100%;
    border-radius: 15px;
}

.modal-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: self-start;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-body {
    display: flex;
    justify-content: center;
    align-items: center;

    img {
        width: 30%;
        height: auto;
    }

}

.modal-header {
    p {
        cursor: pointer;
        color: $white;

    }
    display: flex;
    justify-content: flex-end;
    font-size: 42px;
}



@media screen and (width<=450px) {
    .main-image{
        width: 300px;
    }
    .modal-body{
        img{
            width: 90%;
        }
        margin-top: 80%;
    }
    .main-image-block{
        .assets{
            button{
                width: 30px;
                height: 30px;
                svg{
                    width: 8;
                    height: 16;
                }
            }
        }
    }
}