@import "../../../styles/color.module.scss";

.product-image-block {

    border-radius: 10px;
    padding: 5px;
    width: max-content;
    border: 1px solid $dark-gray;
}
.image{

}
.main-image {   
    width: 90%;
    height: auto;
}

.modal-wrapper {
    width: 100%;
    height: 100vh;
}

.modal {
    
    height: 100%;
    width: 100%;
    border-radius: 15px;
}

.modal-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: self-start;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-body {
    display: flex;
    justify-content: center;
    align-items: center;

    img {
        width: 70%;
        height: auto;
    }

}

.modal-header {
    p {
        cursor: pointer;
        color: $white;

    }
    display: flex;
    justify-content: flex-end;
    font-size: 42px;
}



@media screen and (width<=450px) {
    .modal-body{
        img{
            width: 90%;
        }
        margin-top: 80%;
    }
}