@import "../../styles/color.module.scss";

.product-info{
    h2{
        width: max-content;
        border-bottom: 1px dotted $gray;
        font-size: 18px;
        color: $red;
    }
    font-weight: 500;
    color: $dark-gray;
    display: flex;
    flex-direction: column;
    gap: 20px;
    .product-info-item{
        gap: 10px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        width:500;
        p{
            white-space: nowrap;
        }
        span{
            white-space: nowrap;
        }
        .line{
            width: 100%;    
            height: 1px;
            border-top: 2px dotted $dark-gray;
        }
    }
}



