@import "../../styles/color.module.scss";

.product-info{
    h2{
        cursor: pointer;
        width: max-content;
        border-bottom: 1px dotted $gray;
        font-size: 18px;
        color: $red;
    }
    font-weight: 500;
    color: $dark-gray;
    display: flex;
    flex-direction: column;
    gap: 20px;
    .product-info-item{
        gap: 10px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        width:500px;
        p{
            white-space: nowrap;
        }
        span{
            white-space: nowrap;
        }
        .line{
            width: 100%;    
            height: 1px;
            border-top: 2px dotted $dark-gray;
        }
    }
}

@media screen and (width<=450px) {
    .product-info{
        padding: 0 2%;
        .product-info-item{
            // justify-content: sp
            .line{
                max-width: 20%;
            }
            p{
                font-size: 14px;
            }
            span{
                -webkit-line-clamp:2; /* Число отображаемых строк */
                display: -webkit-box; /* Включаем флексбоксы */
                -webkit-box-orient: vertical; /* Вертикальная ориентация */
                overflow: hidden; 
                text-overflow: ellipsis;
                max-width: 250px;
            }
            max-width: 380px;
        }
    }
}


