@import "../../styles/color.module.scss";

.service-page-item{
    border-radius: 10px;
    padding: 30px 15px;
    border: 1px solid $gray;
    flex-basis: 22%;
    display: flex;
    flex-direction: column;
    .service-page-image-head{
        display: flex;
        gap: 20px;
    }
    p{
    }
}