@import "../../styles/color.module.scss";

.auth-modal {
    border-radius: 10px;
    padding: 50px 20px;
    padding-bottom: 20px;
    width: 450px;
    display: flex;
    flex-direction: column;
    position: fixed;
    z-index: 999;
    left: 40%;
    top: 15%;
    background-color: $white;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);

    p {
        color: $dark-blue;
        text-align: end;
        font-weight: 600;
    }

    label {
        color: $dark-blue;
        font-weight: 600;

    }

    input {
        color: $dark-blue;

        font-weight: 500;
        margin-top: -15px;
        margin-bottom: 5%;
    }

    h1 {
        color: $dark-blue;

        text-align: center;
        margin-bottom: 5%;
    }

    button {
        padding-top: 20px;
        padding-bottom: 20px;
        margin-bottom: 20px;
    }
}