.profile-nav {
    margin: 0 5%;
    width: max-content;
    border-radius: 10px;
    .profile-nav-item:first-child{
        div{

            border-top-right-radius: 10px;
            border-top-left-radius: 10px;
        }
    }
    .profile-nav-item:last-child{
        div{

            border-bottom-right-radius: 10px;
            border-bottom-left-radius: 10px;
        }
    }
    
}