@import "../../styles/color.module.scss";

.input {
    border: none;
    background-color: $gray;
    padding: 10px 0 10px 5px;
    border-radius: 10px;
    width: 100%;
    outline: none;
    font-size: 16px;
    color: $dark-blue;
}

.page-input {
    border: 1px solid $gray;
    background: #FFF;
    padding: 20px 0 20px 5px;
    border-radius: 10px;
    outline: none;
    font-size: 16px;
    color: $dark-blue;
}


@media screen and (width<=450px) {
    .page-input{
        padding: 10px  0 10px 5px;
        border-radius: 5px;
        font-size: 14px;
    }
}