@import "../../styles/color.module.scss";


.product-cart {
    min-width: 300px;
    padding: 10px 15px 30px 15px;
    border-radius: 5px;
    border: 1px solid $gray;
    display: flex;
    align-items: center;
    flex-direction: column;

    .head {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .sale {
            border-radius: 4px;
            background: $red;
            padding: 10px;
            color: $white;
            font-weight: 500;
        }

        svg {
            cursor: pointer;
        }
    }

    .quantity {
        align-self: flex-end;
        margin-right: -15px;
        border-bottom: 1px solid $gray;
        border-top: 1px solid $gray;
        border-left: 1px solid $gray;
        font-size: 12px;
        font-weight: 600;
        padding: 2px 5px;
        border-radius: 5px 0 0 5px;

        p {
            color: $dark-gray;
        }

    }

    .info {
        p {
            height: 40px;
            font-weight: 600;
            color: $dark-blue;
        }

        p:first-child {
            font-size: 14px;
            font-weight: 500;
            color: $dark-gray;
        }
    }

    .stars {
        margin-top: 1%;
    }

    .prices {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .text {
            p:first-child {
                font-size: 14px;
                color: $dark-gray;
                text-decoration: line-through;
            }

            p {
                font-size: 18px;
                font-weight: 600;
                color: $dark-blue;
            }
        }
    }
}

.wide-product-cart {
    padding-right: 2%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    img{
    }
    .product-name {
        margin-left: -5%;
        flex-basis: 30%;

        p {}

        span {
            color: $dark-gray;
            font-size: 14px;
            font-weight: 500;
        }
    }

    .product-price {
        flex-basis: 10%;
        p {
            font-weight: 600;
        }
    }

    .quantity {
        flex-basis: 20%;
        display: flex;
        align-items: center;

        span {
            font-size: 18px;
        }

        button {
            margin: 0 10px;
            width: 60px;
            height: 40px;
            border-radius: 50px;
        }
    }
    .product-delete{
        display: flex;
        align-items: center;
        gap: 10px;
        justify-content: space-between;
        .delete-button{
            cursor: pointer;
        }
    }
}

@media screen and (width<=450px) {

    .product-cart{
        min-width: 150px;
        max-width: 150px;
        padding: 5px 10px 10px 10px;
        .head{
            .sale{
                padding: 5px;
                font-size: 14px;
            }
        }
        img{
            width: 90%;
            height: 90%;
        }
        .quantity{
            margin-right: -10px;
            font-size: 10px;
        }
        .info{
            p{
                // height: 10px;
                height: max-content;
                font-size: 14px;
            }
            p:first-child{
                font-size: 10px;
            }
        }
        .prices{
            align-items: start;
            flex-direction: column;
            .text{
                p:first-child{
                    font-size: 12px;
                }
                p{
                    font-size: 15px;
                }
            }
            button{
                width: 100%;
                margin-top: 1%;
            }
        }
        .stars{
            margin-top:1%;
        }
    }
}