@import "../../styles/color.module.scss";

.header-nav  {
    ul {
        list-style: none;
        display: flex;
        align-items: center;
        flex-direction: row-reverse;
        li {
            padding: 0 15px;
            float: left;
            cursor: pointer;
            transition: all .5s;
            font-weight: 500;
            color: $dark-blue;
            &:hover{
                color:$red;
            }
        }
    }
    li:nth-child(4){
        display: flex;
        align-items: center;
        gap: 5px;
        color: $white;
        background-color: $red;
        padding: 10px 20px;
        border-radius: 7px;
        &:hover{
            color: $white;
        }
    }
}
@media screen and (width<=450px) {
    .header-nav{
        li:nth-child(1){
            display: none;
        }
        li:nth-child(2){
            display: none;
        }
        li:nth-child(3){
            display: none;
        }
        li:nth-child(4){
            padding: 0;
            color: $white;
            &:hover{
                color: $white;
            }
        }
    }
}