@import "../../styles/color.module.scss";

.header-nav  {
    ul {
        list-style: none;

        li {
            padding: 0 15px;
            float: left;
            cursor: pointer;
            transition: all .5s;
            font-weight: 500;
            color: $dark-blue;
            &:hover{
                color:$red;
            }
        }
    }
}
@media screen and (width<=450px) {
    .header-nav{
        li:nth-child(1){
            display: none;
        }
        li:nth-child(2){
            display: none;
        }
        li:nth-child(3){
            display: none;
        }
        li:nth-child(4){
            padding: 0;
            color: $white;
            &:hover{
                color: $white;
            }
        }
    }
}