.slider-section {
    padding: 0 5%;
    .slider {
        margin-top: 3%;
        position: relative;

        .embla {
            overflow: hidden;
        }

        .emblaContainer {
            display: flex;

        }

        .emblaSlide {
            border-radius: 25px;
            height: 200px;
            background-color: #D9D9D9;
            flex: 0 0 100%;
            min-width: 0;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .assets {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;
            position: absolute;
            top: 40%;

            button {
                padding: 0 2%;
                cursor: pointer;
                display: flex;
                align-items: center;
                justify-content: center;
                background-color: inherit;
                font-size: 32px;
                border: none;
                outline: none;
            }
        }
    }
}

@media screen and (width<=450px) {
    .slider-section{
    padding: 0 2%;

        .slider{
            .emblaSlide{
                border-radius: 17px;
                height: 120px;
            }
            .assets{
                button{
                    font-size: 28px;
                }
            }
        }
    }
}